<div class="full-container main-content" style="margin-top: -2rem">
  <div class="text-center">
    <h2>Practice and Certify Your Coding Skills</h2>
    <p>
      Don't leave your job application up to chance, certify your skills and
      start getting noticed
    </p>
  </div>
  <section class="features">
    <div class="row">
      <div class="col col-xs-12 col-sm-6 col-md-4">
        <figure>
          <img src="/images/Group-152.1.svg" alt="Coder Ide" />
        </figure>
        <div class="box-content">
          <h2>Practice in a Real-World Coding Environment</h2>
          <p>
            Complete challenges and assessments in a real-world coding
            environment and get scored on your understanding with Predictive
            Coding Scores.
          </p>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-6 col-md-4">
        <figure>
          <img src="/images/Group-153.1.svg" alt="Coder Ide" />
        </figure>
        <div class="box-content">
          <h2>Certify Your Skills and Get Noticed by Employers</h2>
          <p>
            Apply to jobs using CodeSignal's widely accepted Certified
            Assessments and increase your chances of landing interviews.
          </p>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-6 col-md-4">
        <figure>
          <img src="/images/Group-151.1.svg" alt="Coder Ide" />
        </figure>
        <div class="box-content">
          <h2>Be Prepared for Technical Interviews</h2>
          <p>
            Select a study plan that fits your schedule and start practicing
            concepts and topics frequently asked during real technical
            interviews.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <footer
  style="
    background-color: black;
    color: white;
    padding: 1.15rem;
    text-align: center;
    position: absolute;
    margin-bottom: -10rem;
  "
>
  Copyright Guhan M
</footer> -->

<footer
  style="
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.5rem;
    background-color: black;
    color: white;
    text-align: center;
  "
>
  Copyright Guhan M
</footer>
